{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "stryker": {
            "badge": "master"
        }
    },
    "mutators": {
        "@default": true,
        "ProtectedVisibility": {
            "ignore": [
                "bitExpert\\CaptainHook\\RejectPush\\RejectPushAction::getAllCommits"
            ]
        }
    }
}
